<form name="signUnForm">
	<div class="form-group">
		<label for="signUpEmail">Full Name</label>
		<input type="text" id="signUpEmail" name="fullName" class="form-control input-lg" ng-model="ac.signupUser.fullName" required autofocus>
	</div>
	<div class="form-group">
		<label for="signUpEmail">Email</label>
		<input type="email" id="signUpEmail" name="email" class="form-control input-lg" ng-model="ac.signupUser.email" required>
	</div>
	<div class="form-group">
		<label for="signUpPassword">Password</label>
		<input type="password" id="signUpPassword" name="password" class="form-control input-lg"  ng-model="ac.signupUser.password" required>
	</div>
	<button class="btn btn-primary btn-lg" ng-click="ac.signup()">Register</button>
</form>